*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "jost";
}

nav{
    height: "100px";
    background-color: #ff7f99;
    color: white;
    font-size: 1.2rem;
}

li{
    list-style: none;
    display: inline;
    padding: 20px;
}

#tituloPrincipal{
    color: crimson;
}

.mainButton{
    color: white;
    background-color: #ffca41;
    border-radius: 10%;
    padding: 20px;
    font-size: 1.2rem;

    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

