*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "jost";
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 170px;
    background-color: #ff7f99;
    color: white;
    font-size: 1.2rem;
}

li{
    list-style: none;
    display: inline;
    padding: 20px;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 500%;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.mainButton{
    color: white;
    background-color: #ffca41;
    border-radius: 10%;
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.imgPerson{
    border-radius: 50%;
    width: 300px; /* Ajustar */
    height: 300px;
    padding-top: 0px; /* Ajustar */
}

.logoLinkedin{
    width: 140px;
    height: 140px;
}

#contenedorImagenHero{
    background-color: #ff7f99;
    height: 500px;
    width: 35%;
    margin: 30px;
    border-radius: 50% 0 50% 50%;
    display: flex;
}

#imagenHero{
    padding-left: 100px;
}
#contenedorPrincipal{
    width: 50%;
    height: 300px;
    padding-right: 100px;
    text-align: center;
    background-color: white;
}

#logoNav{
    height: 150px;
    width: 200px;
}

#tituloPrincipal{
    color: crimson;
    font-size: 400%;
}

#pPrincipalLeft {
    text-align: left;
    padding-left: 260px;
}

#Equipo{
    background-color: #ff7f99;
}

#Equipo ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

#Equipo li{
    list-style: none;
    margin: 20px;
    text-align: center;
}

#Equipo h3{
    color: white;
}

